# ignore ALL .log files
/.idea/
/pytorch_rl/.idea/


# ignore model files
/SAC/model/
/SAC/model_with_astar/
SAC/__pycache__/
SAC/A_star/__pycache__/
/SAC/wandb/


/SAC/model_pretrain/
/pytorch_rl/model/
