# ignore ALL .log files
/.idea/
/pytorch_rl/.idea/

# ignore models .log files
/SAC/model/
/SAC/model_pretrain/
/SAC-X/model/
/SAC/model_with_astar/
SAC/__pycache__/
SAC/A_star/__pycache__/

# ignore unnecessary files
#a_star_algorithm
/SAC/wandb/
